<h3>Product: {{product.title}}</h3>
<div class="row">
  <img src="{{product.img}}" alt="" style="width: 300px;" class="d-inline-block align-top">
  <form class="form-group" (submit)="updateCurrentProduct()">

    <label for="title">Product Name:</label>
    <input class="form-control" type="text" name="product.title" placeholder="Product Title" 
      [(ngModel)]="product.title"
      #title='ngModel'
      required
      minlength='4'>
      <div *ngIf='title.invalid' class='alert alert-danger'>
        <div *ngIf='title.errors.required'>
          Title is required
        </div>
        <div *ngIf='title.errors.minlength'>
          Must be 4 characters
        </div>
      </div>

    <label for="price">Price:</label>
    <input class="form-control" type="text" name="product.price" placeholder="Product Price" 
      [(ngModel)]="product.price"
      #price='ngModel'
      required >
      <div *ngIf='price.invalid' class='alert alert-danger'>
         <div *ngIf='price.errors.required'>
          Price is required
        </div>
      </div>
    <label  for="img">Image URL:</label>
    <input class="form-control" type="text" name="product.img" value="product.img" placeholder="Image URL" [(ngModel)]="product.img">

    <button type="submit" class="btn btn-success mt-1" name="button">Update</button>
    <button (click)='destroyProduct(product)' class='btn btn-danger align-bottom'>Remove</button>
  </form>
</div>